RewriteEngine On

# Redirigir todo a la carpeta public, removiendo el prefijo webservice-slim
RewriteCond %{REQUEST_URI} ^/webservice-slim/(.*)$
RewriteRule ^(.*)$ public/%1 [L]

# Si no hay webservice-slim en la URL, redirigir a public
RewriteCond %{REQUEST_URI} !^/webservice-slim/public/
RewriteRule ^(.*)$ public/$1 [L]